[user]
	name = Sagiv Malihi
	email = sagivmalihi@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
[core]
    excludesfile = /home/sagiv/.gitignoreglobal
[alias]
    trash = !git add . && git commit -m 'trash' && git reset --hard HEAD^
    propose = !git push origin +HEAD:$USER/proposed/$(git-symbolic-ref HEAD | sed 's/^refs\\/heads\\///')
[push]
    default = tracking

