.adobe
android
.android
.aptitude
.aspell.conf
.assistant
.bash_history
.bogofilter
Books
.bzr.log
.cache
.camel_certs
.compiz
compiz-settings-sagiv
.config
CVs
.dbus
Desktop
.dmrc
Downloads
edid.bin
.esd_auth
examples.desktop
.fontconfig
.gconf
.gconfd
.gem
.gksu.lock
.gnome
.gnome2
.gnome2_private
.gnupg
.google
.gstreamer-0.10
.gtk-bookmarks
.gvfs
.hplip
hrlcm01.haifa.ibm.com.cert
.hugin
.ICEauthority
.icedtea
.icedteaplugin
.icons
.install4j
.lesshst
.libreoffice
.local
lotus
.m2
.macromedia
.mission-control
.mozilla
Music
.nautilus
.netx
Old-TODO.txt
.openoffice.org
Photos
Pictures
.pki
.printer-groups.xml
Public
.pulse
.pulse-cookie
.purple
.pyhistory
.qt
.recently-used
reg
.repoconfig
.repopickle_.gitconfig
shir
.shotwell
.sudo_as_admin_successful
.tagtoolrc
Templates
test-0000.mpeg
.themes
.thumbnails
.thunderbird
.tlib10
tmp
tmp.txt
.tsclient
Ubuntu One
Videos
vmail.log
.wclient
.wine
.xinput.d
.xiv
XIVEmployeesFeb2011.csv
XIV-Storage-Internal-CA.cert
.xsession-errors
.xsession-errors.old
.pip
.viminfo
Movies
Library
crunchable
source
Dropbox
hila
Applications

