[user]
	name = Sagiv Malihi
	email = smalihi@cisco.com
[color]
	diff = auto
	status = auto
	branch = auto
[core]
	excludesfile = ~/.gitignoreglobal
[alias]
    trash = !git add . && git commit -m 'trash' && git reset --hard HEAD^
    propose = !git push origin --set-upstream +HEAD:$USER/$(git-symbolic-ref HEAD | sed 's/^refs\\/heads\\///')
    unpropose = !git push origin +:$USER/$(git-symbolic-ref HEAD | sed 's/^refs\\/heads\\///')
    pullrequest = !git push origin +HEAD:$1-$USER && /intucell/latest/bin/python scripts/pull_request.py -f $1-$USER -t $2 -r $3 && echo
[push]
	default = upstream

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[diff]
	tool = tkdiff 
